<template>
  <iframe
    frameborder="0"
    v-bind="{ width: width, height: height }"
    :src="'https://maps.google.com/maps?&q='+address+'&z='+getZoom()+'&t='+getMapType()+'&output=embed'">
  </iframe>
</template>

<script>

// Defaults data setup
const DEFAULT_MAP_TYPE = 'q'
const DEFAULT_MAP_ZOOM = 15

export default {
  props: {
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '450'
    },
    address: {
      type: String,
      default: ''
    },
    zoom: {
      // expected range of 1-20
      type: Number,
      default: DEFAULT_MAP_ZOOM
    },
    mapType: {
      // satellite return w, roadmap/else return default
      type: String,
      default: DEFAULT_MAP_TYPE
    }
  },
  methods: {
    getZoom () { return isNaN(this.zoom) ? DEFAULT_MAP_ZOOM : this.zoom },
    getMapType () { return this.mapType === 'satellite' ? 'w' : DEFAULT_MAP_TYPE }
  }
}
</script>
