<template>
  <div class="w-100 d-flex justify-content-center py-3">
    <div
      :class="addClass.concat(` spinner-border text-theme`)"
      role="status"
      :style="`height:${size}rem; width:${size}rem;`">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</template>

<script>
  export default {
    props:{
      addClass:{
        type: String,
        default: 'm-1'
      },
      size:{
        type: Number,
        default: 2
      }
    }
  }
</script>

<style>
  .sr-only {
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
</style>
