<template>
  <div class="pageLoader d-flex d-column justify-content-center">
    <div class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-theme me-3" role="status">
      </div>
      <span class="ml-3">
        Loading . . .
      </span>
    </div>
  </div>
</template>

<script>
export default {}
</script>
